body{
    width: 800px;
    margin: 0 auto;
    font-family: Arial, Verdana, sans-serif;
    color: #665545;
}
.normal p {
    width: 405px;
}
h1 {
    position: absolute;
    right: 30%;
    width: 225px;
}