.box-1 {
background:#ee357dd6;
margin:0 auto;
width:300px;
}

.container {
margin:50px auto 0;
width:940px;
}

.content {
background-image:url(../img/12_col.gif);
border:2px solid silver;
padding:15px 5px 10px;
width:100%;
}

.header {
margin-top:25px;
width:940px;
}

.main {
display:flex;
margin:0 auto;
width:940px;
}

.text-1 {
background:#ee357dd6;
padding:40px;
}

.text-2 {
background:#ee357dd6;
padding:15px;
}

.title,.body,.footer {
width:940px;
}

p {
color:#FFF;
font-size:30px;
text-align:center;
}

p.box-1 {
padding:70px 2px;
}
